body {
	background-color: cadetblue;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Chicago_Wards_Blank.svg/1200px-Chicago_Wards_Blank.svg.png);
	background-position: auto 0;
	background-size: cover;
}

/*consider placement of article tags*/
p {
	position: relative;
	/*background-color:;*/
	border-radius: 20px;
	color:red;
	font-weight: 600;
	text-overflow:
	top: 85%;
	/*figure out how to position*/
}
div {
	background-color:white;
	display: inline-block;
	color:cadetblue;
	border-radius: 20px;
}
#kpi{
	position: absolute;
	/*background-color:rgba(255, 200, 145, .9);*/
	display: inline-block;
	background-color: purple;
	border-radius: 20px;
	top: 25%;
  	left: 10%;
  	text-align: left;
  	color:white;
  	padding: 5px;
  	box-shadow: 0px 10px 14px -8px grey;
}
#goal-text {
	position: absolute;
	background-color: #cae00d;
	/*rgba(255, 200, 145, .9);*/
	display: inline-block;
	border-radius: 20px;
	width: 65%;
	top: 75%;
  	left: 10%;
  	text-align: center;
  	padding:25px;
  	box-shadow: 0px 10px 14px -8px grey;
	
}
#choose-region {
	/*display: none;*/
	position: absolute;
	background-color:#cae00d;
	/*rgba(255, 200, 145, .9);*/
	display: inline-block;
	border-radius: 20px;
	width: 65%;
	top: 5%;
  	left: 10%;
  	text-align: center;
  	padding:25px;
  	box-shadow: 0px 10px 14px -8px grey;
}
/*downtown div*/
#central{ 
	position: absolute;
	/*background-color:rgba(255, 200, 145, .9);*/
	display: inline-block;
	background-color: purple;
	border-radius: 20px;
	top: 38%;
  	left: 65%;
  	text-align: left;
  	color:white;
  	padding: 5px;
  	box-shadow: 0px 10px 14px -8px grey;

}
/*downtown button*/
#downtown{
	color:red;
	font-size: 15px;
	border-radius: 50%;
	background:none;
	border:none;
	text-align: auto 0;
}
 /*div*/
#airport{
	background-color: purple;
	position: absolute;
	top: 15%;
  	left: 5%;
  	color: white;
  	padding: 5px;
  	box-shadow: 0px 10px 14px -8px grey;
}
/*button*/
#nw{
	color:red;
	font-size: 15px;
	border-radius: 50%;
	background:none;
	border:none;
	text-align: auto 0;
}
/*div*/
#suburb{
	position: absolute;
	/*background-color:rgba(255, 200, 145, .9);*/
	display: inline-block;
	background-color: purple;
	border-radius: 20px;
	top: 54%;
  	left: 25%;
  	text-align: left;
  	color:white;
  	padding: 5px;
  	box-shadow: 0px 10px 14px -8px grey;

}
/*button*/
#w{
	color:red;
	font-size: 15px;
	border-radius: 50%;
	background:none;
	border:none;	
	text-align: auto 0;
}
/*div*/
#neighborhood{
	background-color: purple;
	position: absolute;
	top: 55%;
  	left: 68%;
  	color: white;
  	padding: 5px;
  	box-shadow: 0px 10px 14px -8px grey;

}
/*button*/
#s{
	color:red;
	font-size: 15px;
	border-radius: 50%;
	background:none;
	border:none;
	text-align: auto 0;
}

/*.confirm{}*/
.rating{
	border:none;
	background:none;
	color:red;
	font-size:25px;
}

.hidden {
	display: none;
}