body {
	background-color: black;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Chicago_Wards_Blank.svg/1200px-Chicago_Wards_Blank.svg.png);
	background-position: auto 0;
	background-size: 100%;
}
